<app-card variant="primary" class="form-busca">
  <div class="container">
    <h2>Roupas</h2>
    <div class="row">
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="nome">Buscar por Nome</label>
            <input type="text" class="form-control" id="nome" placeholder="Digite o nome">
          </div>
          <div class="form-group">
            <label for="categoria">Categoria</label>
            <select class="form-control" id="categoria">
              <option>Todos</option>
              <option>Chapéus</option>
              <option>Camisetas</option>
              <option>Blusas</option>
              <option>Calças</option>
              <option>Bermudas</option>
              <option>Calçados</option>
            </select>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="modo-noturno">
            <label class="form-check-label" for="modo-noturno">Modo noturno</label>
          </div>
          <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
      </div>
    </div>
  </div>
  
  </app-card>
  