<header class="app-header bg-black text-white">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" alt="Logo da Aplicação">
      </a>
      <div class="spacer"></div>
      <ul class="navbar-nav mr-auto">
        <span class="spacer"></span>
       <a href="/home"> <button mat-button>Home</button></a>
       <a href="/categoria"> <button mat-button>Categorias</button></a>
       
      </ul>
      <div class="scrolls-buttons d-flex">
        <button mat-mini-fab color="primary" (click)="scrollToTop()">
            <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="scrollToBottom()">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </div>
      
    </nav>
  </div>
</header>
