html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*  src/styles.scss */
.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 16px;
    margin: 40px;
}
@media screen and (max-width: 680px) {
 
.form-busca[_ngcontent-ng-c3437021692] .flex-container[_ngcontent-ng-c3437021692]{
    flex-direction: column;
  }   
}
